/* global stypes */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: linear-gradient(45deg, #d10300, #216ae0);
  border: 1px solid #333;
}

::selection {
  background: #999;
}
::-webkit-selection {
  background: #999;
}
::-moz-selection {
  background: #999;
}
/* Classes to be used across pages if needed */
/* These have general styling already added to make for easier UX */

/* General Link Styling */
.generallink {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.generallink:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

/* General Styling for Page Titles */
.pagetitle {
  color: #fff;
  font-family: "Product Sans", sans-serif;
  font-size: 4em;
  font-weight: normal;
  margin: 0;
}

/* General Styling for Bodies of Text on the Page */
/* Subheading 1 */
.bodytitle {
  color: #fff;
  font-family: "Archia", sans-serif;
}

/* Container for both .bodytitle and .bodytext */
.textbody {
  margin: 2em 0;
}

/* Styling for large paragraphs of text */
/* Container for large paragraphs of text */
/* Used with .paragraph on <p> elements to denote style */
.bodytext {
  margin-left: 0em;
}

html,
body {
  background: transparent;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

.section-center {
  max-width: 1170px;
  margin: 0 auto;
}

.sectionheader {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexwrapper {
  width: 50em;
  margin: 5em 2em;
  padding: 0;
}

.comeback {
  color: #fff;
  font-family: "Archia", sans-serif;
  font-weight: normal;
}

.splash {
  height: 100vh;
  /*background-image: url('../static/images/gfr-bg-dark.png');
    background-size: cover;*/
  /* background-image: url('https://media.discordapp.net/attachments/386612430710767616/498259221192769536/Blank_RVB.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

.titlebox {
  margin: 0;
  margin-top: 35vh;
  padding: 2.5em;
  text-align: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.gaelforce {
  margin: 0;
  font-family: "Product Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-size: 5vw;
  font-weight: 900;
  color: #fff;
}

.altshow {
  visibility: hidden;
  font-size: 0;
}

.althide {
  visibility: visible;
  font-size: auto;
}

.bg {
  background-color: black;
  /*background-image: url("../static/images/gfr-bg-plain.png");*/
  /*background: ;*/
  background-image: url("../static/images/gfr-bg-plain.png"), radial-gradient(#05213b,black);
  background-attachment: fixed;
  background-size:cover;
  background-position: center;
  height: auto;
  width: 100vw;
  background-repeat: no-repeat;
}
.bgg {
  background-color: black;
  background: linear-gradient(45deg, #161843, #194f70);
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
  height: auto;
  width: 100vw;
  background-repeat: no-repeat;
}
.bgg2{
  background-color: black;
  background: linear-gradient(45deg, #501818, #a0110f);
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
  height: auto;
  width: 100vw;
  background-repeat: no-repeat;
}

.bg2{
  background-color: black;
  background: linear-gradient(45deg, #d10300, #216ae0);
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
  height: auto;
  width: 100vw;
  background-repeat: no-repeat;
}

.bg.a {
  background-image: url("../static/images/logo/a.jpeg");
}
.bg.b {
  background-image: url("../static/images/logo/b.jpeg");
}
.bg.c {
  background-image: url("../static/images/logo/c.jpeg");
}
.bg.k {
  background-image: url("../static/images/gfr-bg-k.jpeg");
}
.bg.r {
  background-image: url("../static/images/logo/r.jpeg");
}
.bg.s {
  background-image: url("../static/images/logo/s.jpeg");
}
.memberbg {
  background-attachment:local;
  background-size:cover;
}
.memberbg.a {
  background-attachment: fixed;
}
.memberbg.b {
  /*background-image: url("../static/images/gfr-bg-c.jpeg");*/
  background-attachment: fixed;
}
.memberbg.c {
  background-attachment: fixed;
}
.memberbg.k {
  background-attachment: fixed;
}
.memberbg.r {
  background-attachment: fixed;
}
.memberbg.s {
  background-attachment: fixed;
}



.bgtint {
  background-color: rgba(0, 0, 0, 0.6); /* Tint color */
  background-blend-mode:hue;
}

.bgstuff {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100vw;
  background-repeat: no-repeat;
}

.nospace {
  letter-spacing: 0;
}

.titlebox::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background: linear-gradient(45deg, #d10300, #216ae0);
  background: -webkit-linear-gradient(45deg, #d10300, #216ae0);
  background: -moz-linear-gradient(45deg, #d10300, #216ae0);
  background-size: 300% 300%;
  clip-path: polygon(
    0% 100%,
    7px 100%,
    7px 7px,
    calc(100% - 7px) 7px,
    calc(100% - 7px) calc(100% - 7px),
    7px calc(100% - 7px),
    7px 100%,
    100% 100%,
    100% 0%,
    0% 0%
  );
}

.titlebox.in:after {
  animation: frame-enter 1s forwards ease-in-out reverse,
    border-gradient-animation 10s ease-in-out infinite;
  -webkit-animation: frame-enter 1s forwards ease-in-out reverse,
    border-gradient-animation 10s ease-in-out infinite;
  -moz-animation: frame-enter 1s forwards ease-in-out reverse,
    border-gradient-animation 10s ease-in-out infinite;
}

nav {
  position: absolute;
}

.line {
  background: #fff;
  border-radius: 150px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  height: 3px;
}

.navbutton {
  position: absolute;
  z-index: 2;
  border: none;
  margin: 0;
  padding: 0;
  visibility: visible;
  background: rgba(0, 0, 0, 0);
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.navicon {
  list-style-type: none;
  margin: 2em;
  padding: 0;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.togglednav .navbutton {
  background: rgba(255, 255, 255, 0);
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.togglednav .navicon {
  margin-right: 1em;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.line:nth-child(1) {
  width: 12px;
  margin-top: 0;
  margin-bottom: 5px;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.line:nth-child(2) {
  width: 22px;
  margin-top: 0;
  margin-bottom: 5px;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.line:nth-child(3) {
  width: 12px;
  margin: 0;
  margin-left: 10px;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.navicon:focus,
.navbutton:focus {
  outline: 0px solid transparent;
}

nav .overlay {
  position: fixed;
  z-index: 2;
  width: 0vw;
  height: 100vh;
  background: linear-gradient(45deg, #d10300, #216ae0);
  background-size: 175% 175%;
  -webkit-animation: background-gradient-animation 30s ease infinite;
  -moz-animation: background-gradient-animation 30s ease infinite;
  animation: background-gradient-animation 30s ease infinite;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.togglednav .overlay {
  position: absolute;
  z-index: 1;
  width: 100vw;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.togglednav .line:nth-child(1) {
  width: 25px;
  height: 3px;
  transform: rotate(45deg) translate(0.3em, 0.55em);
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.togglednav .line:nth-child(2) {
  opacity: 0;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.togglednav .line:nth-child(3) {
  width: 25px;
  height: 3px;
  transform: rotate(-45deg) translate(-0.2em, -1.05em);
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.links {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  height: 0;
}

.togglednav .linkbox {
  height: 100vh;
}

.linkbox {
  width: 100vw;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.linkwrapper {
  padding: 0;
  margin: 0;
  width: 0vw;
  height: 40em;
  padding-top: 5em;
}

.togglednav .linkwrapper {
  width: 100vw;
}

.navlink:nth-child(1) {
  margin-top: -3em;
}

.togglednav .navlink:nth-child(1) {
  animation-delay: 0.1s;
}

.togglednav .navlink:nth-child(2) {
  animation-delay: 0.2s;
}

.togglednav .navlink:nth-child(3) {
  animation-delay: 0.3s;
}

.togglednav .navlink:nth-child(4) {
  animation-delay: 0.4s;
}

.togglednav .navlink:nth-child(5) {
  animation-delay: 0.5s;
}

.togglednav .navlink:nth-child(6) {
  animation-delay: 0.6s;
}

.togglednav .navlink:nth-child(7) {
  animation-delay: 0.7s;
}

.togglednav .navlink:nth-child(8) {
  animation-delay: 0.8s;
}

.togglednav .navlink {
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.2, 1, 0.2, 1);
  opacity: 1;
  font-size: 0.8em;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  pointer-events: auto;
}

.togglednav .navlink .link::before,
.togglednav .navlink .link::after {
  font-family: "Product Sans" sans-serif;
  font-size: 1em;
  display: inline-block;
  opacity: 0;
  margin-top: 0;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.togglednav .navlink .link::before {
  content: "[";
}

.togglednav .navlink .link::after {
  content: "]";
}

.togglednav .navlink .link:hover::after,
.togglednav .navlink .link:focus::after,
.togglednav .navlink .link:hover::before,
.togglednav .navlink .link:focus::before {
  opacity: 1;
  display: inline-block;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  outline: none;
}

.togglednav .navlink .link:hover::after,
.togglednav .navlink .link:focus::after {
  margin-left: 10px;
}

.togglednav .navlink .link:hover::before,
.togglednav .navlink .link:focus::before {
  margin-right: 10px;
}

.navlink:nth-child(8) {
  margin-bottom: 0;
}

.navlink {
  color: #fff;
  pointer-events: none;
  opacity: 0;
  margin-bottom: 1em;
  padding: 1em;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  text-align: center;
}

.navlink a {
  color: #fff;
  font-family: "Product Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.2em;
  letter-spacing: 0.1em;
}

.teamoverlay {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 0vw;
  background: #000000;
  visibility: hidden;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.toggledteam .teamoverlay {
  visibility: visible;
  width: 100vw;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.toggledteam .teamoverlay .teambackbutton {
  opacity: 1;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.teambackbutton {
  position: absolute;
  z-index: 2;
  border: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  background: rgba(255, 255, 255, 0.2);
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.arrowicon {
  list-style-type: none;
  margin: 2.5em 2em;
  padding: 0;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.arrowline {
  background: #fff;
  border-radius: 150px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  height: 3px;
}

.teambox {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggledteam .teamtitle {
  opacity: 1;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.teamtitle {
  color: #fff;
  text-align: center;
  font-size: 4em;
  font-family: "Product Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0;
  opacity: 0;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.teambackbutton:focus,
.teambackbutton:focus {
  outline: 0px solid transparent;
}
.arrowline:nth-child(n + 1) {
  width: 12px;
}

.arrowline:nth-child(2) {
  width: 22px;
}

.arrowline:nth-child(1) {
  transform: rotate(-45deg) translate(-0.087em, -0.12em);
}
.arrowline:nth-child(3) {
  transform: rotate(45deg) translate(-0.087em, 0.12em);
}

.teamletter {
  font-family: "Elephant", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 15em;
  margin: 0.2em;
  padding: 0;
  opacity: 0;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.teamletters {
  margin: 0;
  padding: 0;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.toggledteam .teamoverlay .teamletters .teamletter {
  opacity: 1;
  height: 100%;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.toggledteam .teamoverlay .teamletters > .teamletter {
  opacity: 1;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 1s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 1s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 1s;
}

.toggledteam .teamoverlay .teamletters:hover > .teamletter {
  opacity: 0.5;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 1s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 1s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 1s;
}

.toggledteam .teamoverlay .teamletters:hover > .teamletter:hover {
  opacity: 1;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

footer {
  background: #191919;
  /* background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f6e5055d9ad1d603fd364c11823d026&auto=format&fit=crop&w=2252&q=80");
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
  color: #fff;
  font-family: "Product Sans", sans-serif;
  margin-top: 0;
  padding: 1em;
  height: 20vh;
}

.footertext {
  margin: 1em 0;
}

.mail {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.mail:hover {
  border-bottom: 1px solid transparent;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.footertext:nth-child(1) {
  font-weight: normal;
  margin: 0.7em 0;
}

.social > .socialicons {
  opacity: 1;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.social:hover > .socialicons {
  opacity: 0.5;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.social:hover > .socialicons:hover {
  opacity: 1;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.social {
  text-align: right;
  margin: 1em 0;
}

.copyright {
  text-align: right;
}

.socialicons {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  margin: 0 1em;
  text-align: center;
}

form {
  margin: 0;
  padding: 0;
}

.intialcontact {
  color: #fff;
  font-family: "Product Sans", sans-serif;
  font-weight: normal;
  margin: 1em;
  text-align: center;
}

.inputbox {
  margin: 1em auto;
  width: 20em;
}

::placeholder {
  color: #216ae0;
}

.input {
  width: 100%;
  height: 3em;
  padding: 10px;
  font-family: "Archia", serif;
  color: #444;
  border: 5px solid transparent;
}

.input:hover,
.input:focus {
  outline: none;
}

input[type="submit"] {
  padding: 0;
  background: #fff;
  font-weight: bold;
  color: #101010;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  cursor: pointer;
}

input[type="submit"]:hover {
  letter-spacing: 2px;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

#message {
  height: 10em;
}

.formlink {
  font-family: "Archia", serif;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
  margin: 1em 0;
}

.fileicon {
  margin-right: 1em;
}

.formlinks > .formlink {
  opacity: 1;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.8s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.8s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.8s;
}

.formlinks:hover > .formlink,
.formlinks:hover > .formlink + .paragraph {
  opacity: 0.5;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.8s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.8s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.8s;
}

.formlinks:hover > .formlink:hover,
.formlinks:hover > .formlink:hover + .paragraph {
  opacity: 1;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.documentdescription {
  padding: 0 2.7em;
}

.paragraph {
  font-family: "Archia", serif;
  color: #fff;
  letter-spacing: 0.005em;
  line-height: 1.4em;
  max-width: 90vw;
}

.learnmorebox {
  margin-top: 2em;
}

.learnmore {
  font-size: 1.2em;
  font-family: "Archia", sans-serif;
}

.column .galleryimage {
  margin-top: 8px;
  /*vertical-align: middle;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.gallery {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* gallery */
.gallery-img {
  height: 100vh;
  position: relative;
}

.gallery-picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.previous-picture,
.next-picture {
  position: absolute;
  font-size: 2rem;
}

.previous-picture {
  top: 50%;
}

.next-picture {
  top: 50%;
  right: 0;
}

.expand {
  width: 80vw;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.comingsoon {
  font-family: "Product Sans", sans-serif;
}

#presentationList {
  list-style-type: none;
}

.currentprez,
.allprez {
  font-family: "Archia";
}

.prezlinkcontainer {
  margin: 1em 0;
}

.prezlisting a {
  font-family: "Archia", sans-serif;
  font-size: 1.2em;
}

.prezlisting {
  line-height: 2.2em;
}

.footnote {
  color: #fff;
  font-family: "Archia", sans-serif;
  font-size: 0.8em;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .gaelforce {
    font-size: 10vw;
    font-weight: 900;
    letter-spacing: 5px;
  }
  .althide {
    visibility: hidden;
    font-size: 0;
  }
  .altshow {
    visibility: visible;
    font-size: auto;
    letter-spacing: 35px;
  }
  .navlink {
    font-size: 0.8em;
  }
  .navlink:nth-child(1) {
    margin-top: 2em;
  }
  .navicon {
    margin: 1.2em;
  }
  .arrowicon {
    margin: 1.7em 1.2em;
  }
  .teamletter {
    font-size: 3em;
  }
  .togglednav .navicon {
    margin-right: 0;
  }
  .teamtitle {
    font-size: 1em;
  }
  .footertext,
  .social,
  .copyright {
    text-align: center;
  }
  .intialcontact {
    font-size: 1.5em;
    width: 100vw;
    text-align: center;
    margin-top: 4em;
  }
  .pagetitle {
    font-size: 2.5em;
  }
  .formlink {
    font-size: 1.2em;
  }
}

@-webkit-keyframes border-gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@-moz-keyframes border-gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes border-gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(
      0% 100%,
      7px 100%,
      7px 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) calc(100% - 7px),
      7px calc(100% - 7px),
      7px 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }
  25% {
    clip-path: polygon(
      0% 100%,
      7px 100%,
      7px 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) calc(100% - 7px),
      calc(100% - 7px) calc(100% - 7px),
      calc(100% - 7px) 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }
  50% {
    clip-path: polygon(
      0% 100%,
      7px 100%,
      7px 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) 7px,
      100% 0%,
      0% 0%
    );
  }
  75% {
    clip-path: polygon(
      0% 100%,
      7px 100%,
      7px 7px,
      7px 7px,
      7px 7px,
      7px 7px,
      7px 7px,
      7px 7px,
      7px 0%,
      0% 0%
    );
  }
  100% {
    clip-path: polygon(
      0% 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      0% 100%
    );
  }
}

@-webkit-keyframes frame-enter {
  0% {
    -webkit-clip-path: polygon(
      0% 100%,
      7px 100%,
      7px 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) calc(100% - 7px),
      7px calc(100% - 7px),
      7px 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }
  25% {
    -webkit-clip-path: polygon(
      0% 100%,
      7px 100%,
      7px 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) calc(100% - 7px),
      calc(100% - 7px) calc(100% - 7px),
      calc(100% - 7px) 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }
  50% {
    -webkit-clip-path: polygon(
      0% 100%,
      7px 100%,
      7px 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) 7px,
      100% 0%,
      0% 0%
    );
  }
  75% {
    -webkit-clip-path: polygon(
      0% 100%,
      7px 100%,
      7px 7px,
      7px 7px,
      7px 7px,
      7px 7px,
      7px 7px,
      7px 7px,
      7px 0%,
      0% 0%
    );
  }
  100% {
    -webkit-clip-path: polygon(
      0% 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      0% 100%
    );
  }
}

@-moz-keyframes frame-enter {
  0% {
    -moz-clip-path: polygon(
      0% 100%,
      7px 100%,
      7px 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) calc(100% - 7px),
      7px calc(100% - 7px),
      7px 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }
  25% {
    -moz-clip-path: polygon(
      0% 100%,
      7px 100%,
      7px 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) calc(100% - 7px),
      calc(100% - 7px) calc(100% - 7px),
      calc(100% - 7px) 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }
  50% {
    -moz-clip-path: polygon(
      0% 100%,
      7px 100%,
      7px 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) 7px,
      calc(100% - 7px) 7px,
      100% 0%,
      0% 0%
    );
  }
  75% {
    -moz-clip-path: polygon(
      0% 100%,
      7px 100%,
      7px 7px,
      7px 7px,
      7px 7px,
      7px 7px,
      7px 7px,
      7px 7px,
      7px 0%,
      0% 0%
    );
  }
  100% {
    -moz-clip-path: polygon(
      0% 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      7px 100%,
      0% 100%
    );
  }
}

@-webkit-keyframes background-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes background-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes background-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#botb {
  background: linear-gradient(45deg, #d10300, #216ae0);
  background-size: 200% 200%;
  height: 100vh;
  padding: 2em 0;
}

.botbtitle {
  font-family: "Neon";
  color: #fff;
  font-size: 6em;
  transform: rotate(-5deg) skewX(-10deg) translate(3em, 0.5em);
  margin: 0;
}

.botbtitlebox {
  display: flex;
  height: 10em;
}

.embedded {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 5em;
  margin: 0;
}

.embedded > iframe {
  margin: 2em;
}

.embedded > iframe:nth-child(1) {
  width: 40em;
  height: 30em;
}

.embedded > iframe:nth-child(2) {
  width: 30em;
}

.livestreamlink {
  flex: 1 0 100%;
}

#slides {
  position: relative;
}

.slideImg {
  display: none;
  width: 80vw;
  height: auto;
  vertical-align: middle;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: baseline;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background: linear-gradient(45deg, #d10300, #216ae0);
}

.readable {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  background-size: cover;
  height: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 100vw;
}

.tint {
  background-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 50vh;
}

.tint2 {
  background-color: rgba(0, 0, 0, 0.5);
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
}

#homebotb {
  position: absolute;
  margin: 0;
  padding: 0;
  transform: rotate(-5deg) skewX(-10deg) translate(0, 0);
  top: 5.2em;
  background: -webkit-linear-gradient(45deg, #d10300, #216ae0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

#homebotb:hover {
  opacity: 0.5;
  -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

/* 
=========
teams
=========
*/

/* team banner */

.team-background {
  background-color: transparent;
}

.fixed-team-img {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.fixed--picture {
  height: 100%;
  width: 100%;
}

.team-banner {
  padding-top: 6.5rem;
  padding-bottom: 4rem;
  /* padding-bottom: 8rem; */
}

.team-banner-center {
  height: 100%;
  /*display: grid;*/
  place-items: center;
}

.team-name {
  color: #fff;
  font-size: 10rem;
  letter-spacing: 0.25rem;
  margin-top: 10vh;
}

/* team about */

.team-about {
  padding-bottom: 4rem;
}

.team-about-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

.team-about-title {
  font-size: 2rem;
}

.team-about-text {
  min-width: 100%;
}

@media screen and (max-width: 882px) {
  .team-name {
    font-size: 8rem;
  }
}

/* team gallery */

/* .team-gallery {
  background-color: #101010;
} */

.team-gallery-center,
.team-page-team-gallery-center {
  display: grid;
  grid-template-columns: 1fr;
}

.team-gallery-img-container {
  background-color: var(--clr-primary-5);
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.team-gallery-img {
  display: block;
  border-radius: 0.5rem;
  width: 100%;
  height: 17rem;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

@media screen and (min-width: 768px) {
  .team-gallery-center,
  .team-page-team-gallery-center {
    padding: 5%;
    padding-top: 5%;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .team-gallery-center,
  .team-page-team-gallery-center {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* members */

.team-members {
  padding-top: 3rem;
}

.team-member {
  height: 13rem;
  width: 13rem;
  border-radius: 100%;
  position: relative;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

.team-member-side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s linear;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
}

.team-member-front {
  border-radius: 100%;
  background-color: #fff;
  /*box-shadow: 0 0 4px 2px #faebeb;*/
  border: 2px solid #fff;
}

.team-member-back {
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 0 5px 1px #fff;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
}

.team-member-info {
  display: grid;
  place-items: center;
  transform: translateY(16%);
}

.team-member-text {
  color: #101010;
  font-family: "Archia", serif;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.5rem;
}

.team-member:hover .team-member-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.team-member:hover .team-member-back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.team-member-photo {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 100%;
}

.team-members-center {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(208.4px, 1fr));
  gap: 3rem 1rem;
}

.center {
  text-align: center;
}

.fade-in.a {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-out, transform 1s ease-out;
  will-change: opacity;
}
.fade-in.b {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease-out, transform 1s ease-out;
  will-change: opacity;
}

.fade-in.a.is-visible {
  opacity: 1;
  transform: translateY(0px);
}
.fade-in.b.is-visible {
  opacity: 1;
  transform: translateY(20px);
  padding-bottom: 40px;
}

.topbuffer {
  padding-top: 5%;
}

.horizontal-stack{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-align{
  justify-content: start;
}
.right-align{
  justify-content:end;
}
.center-align{
  justify-content: center;
}

.center-vert{
  align-items: center;
}

.teamname {
  padding: 2vh;
  text-align: end;
}
.thirty{
  width:30vw;
  height:auto;
}

div.spacer{
  height: 5vh;
}

.offset-left10{
  padding-left: 10vw;
}

.blur {
  box-shadow: 0 0 5px 10px rgb(0, 0, 0);
}

.small-grid {
  width:20%;
  margin-right:40%;
  margin-left:40%;
}
